---
http_interactions:
- request:
    method: get
    uri: http://elo.challonge.com/1/games/169961/matches/2173724?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"be3ef274879826f1eba99a12ff2ca095"'
      Last-Modified:
      - Fri, 23 Aug 2019 14:00:16 GMT
    body:
      encoding: UTF-8
      string: '{"response":{"id":2173724,"game_id":169961,"player1_id":568368,"player2_id":568369,"winner_id":568368,"played_at":"2019-08-23T14:00:15.000Z","created_at":"2019-08-23T14:00:16.603Z","updated_at":"2019-08-23T14:00:16.603Z","scheduled_for_destruction":false,"tournament_id":null}}'
  recorded_at: Mon, 30 Sep 2019 08:54:41 GMT
recorded_with: VCR 5.0.0
