---
http_interactions:
- request:
    method: post
    uri: http://elo.challonge.com/1/games?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: game[default_rating]=2000&game[pro_rating_boundary]=5000
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"868199e60afe774de12e1887e4427093"
    body:
      encoding: UTF-8
      string: '{"response":{"id":178276,"application_id":6,"default_k_factor":15,"default_rating":2000,"pro_rating_boundry":2400,"starter_boundry":30,"created_at":"2019-09-30T08:31:14.532Z","updated_at":"2019-09-30T08:31:14.532Z","scheduled_for_destruction":false}}'
  recorded_at: Mon, 30 Sep 2019 08:31:14 GMT
recorded_with: VCR 5.0.0
