---
http_interactions:
- request:
    method: get
    uri: http://elo.challonge.com/1/games?api_key=4cdb7f00862e0133005b033abce37ff2&format=json&page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"85e4e5361acf722128a57dd20e1bfac2"
    body:
      encoding: UTF-8
      string: '{"response":[{"id":176248,"application_id":6,"default_k_factor":15,"default_rating":1000,"pro_rating_boundry":2400,"starter_boundry":30,"created_at":"2019-09-05T12:01:39.441Z","updated_at":"2019-09-05T12:01:39.441Z","scheduled_for_destruction":false},{"id":176247,"application_id":6,"default_k_factor":15,"default_rating":1000,"pro_rating_boundry":2400,"starter_boundry":30,"created_at":"2019-09-05T12:01:38.986Z","updated_at":"2019-09-05T12:01:38.986Z","scheduled_for_destruction":false},{"id":174782,"application_id":6,"default_k_factor":15,"default_rating":1000,"pro_rating_boundry":2400,"starter_boundry":30,"created_at":"2019-08-20T08:17:55.787Z","updated_at":"2019-08-20T08:17:55.787Z","scheduled_for_destruction":false},{"id":174781,"app[...]
[...]
