---
http_interactions:
- request:
    method: delete
    uri: http://elo.challonge.com/1/games/178274?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2f9ae0dd68890a3c4a92ee3a4564d285"
    body:
      encoding: UTF-8
      string: '{"response":{"id":178274,"application_id":6,"default_k_factor":15,"default_rating":1000,"pro_rating_boundry":2400,"starter_boundry":30,"created_at":"2019-09-30T08:28:03.910Z","updated_at":"2019-09-30T08:29:27.627Z","scheduled_for_destruction":true}}'
  recorded_at: Mon, 30 Sep 2019 08:29:27 GMT
recorded_with: VCR 5.0.0
