---
http_interactions:
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4a360208133595e116ecf8077ae86dc9"
    body:
      encoding: UTF-8
      string: '{"response":{"id":596501,"pro":false,"game_id":169961,"created_at":"2019-09-30T09:47:46.863Z","updated_at":"2019-09-30T09:47:46.863Z","rating":1000,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":null,"previous_rating":null}}'
  recorded_at: Mon, 30 Sep 2019 09:47:46 GMT
[...]
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/matches?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: match[player1_id]=596501&match[player2_id]=596502
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4b3abc17f205a10223379fe6df924b74"
    body:
      encoding: UTF-8
      string: '{"response":{"id":2217761,"game_id":169961,"player1_id":596501,"player2_id":596502,"winner_id":null,"played_at":"2019-09-30T09:47:47.792Z","created_at":"2019-09-30T09:47:47.795Z","updated_at":"2019-09-30T09:47:47.795Z","scheduled_for_destruction":false,"tournament_id":null}}'
  recorded_at: Mon, 30 Sep 2019 09:47:47 GMT
- request:
    method: put
    uri: http://elo.challonge.com/1/games/169961/matches/2217761?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: match[player1_id]=596502&match[player2_id]=596501
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"796ecf5d1b0bc134917b033f19cd2f34"
    body:
      encoding: UTF-8
      string: '{"response":{"id":2217761,"game_id":169961,"player1_id":596502,"player2_id":596501,"winner_id":null,"played_at":"2019-09-30T09:47:47.792Z","created_at":"2019-09-30T09:47:47.795Z","updated_at":"2019-09-30T09:47:48.626Z","scheduled_for_destruction":false,"tournament_id":null}}'
  recorded_at: Mon, 30 Sep 2019 09:47:48 GMT
recorded_with: VCR 5.0.0
