---
http_interactions:
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"36bbf69e4e2c79d3c573107b709c556d"
    body:
      encoding: UTF-8
      string: '{"response":{"id":596495,"pro":false,"game_id":169961,"created_at":"2019-09-30T09:43:28.580Z","updated_at":"2019-09-30T09:43:28.580Z","rating":1000,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":null,"previous_rating":null}}'
  recorded_at: Mon, 30 Sep 2019 09:43:28 GMT
[...]
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/matches?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: match[player1_id]=596495&match[player2_id]=596496&match[winner_id]=596495
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"334bf84974c4cb807c37beb87fd8ff16"
    body:
      encoding: UTF-8
      string: '{"response":{"id":2217756,"game_id":169961,"player1_id":596495,"player2_id":596496,"winner_id":596495,"played_at":"2019-09-30T09:43:29.521Z","created_at":"2019-09-30T09:43:29.526Z","updated_at":"2019-09-30T09:43:29.526Z","scheduled_for_destruction":false,"tournament_id":null}}'
  recorded_at: Mon, 30 Sep 2019 09:43:29 GMT
recorded_with: VCR 5.0.0
