---
http_interactions:
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c0d1c6d4b31af3e607a8eb40e05c2cb5"
    body:
      encoding: UTF-8
      string: '{"response":{"id":596488,"pro":false,"game_id":169961,"created_at":"2019-09-30T09:41:05.712Z","updated_at":"2019-09-30T09:41:05.712Z","rating":1000,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":null,"previous_rating":null}}'
  recorded_at: Mon, 30 Sep 2019 09:41:05 GMT
[...]
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/matches?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: match[player1_id]=596488&match[player2_id]=596489
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c624ac8c781b941287743cc1043b7315"
    body:
      encoding: UTF-8
      string: '{"response":{"id":2217754,"game_id":169961,"player1_id":596488,"player2_id":596489,"winner_id":null,"played_at":"2019-09-30T09:41:06.865Z","created_at":"2019-09-30T09:41:06.869Z","updated_at":"2019-09-30T09:41:06.869Z","scheduled_for_destruction":false,"tournament_id":null}}'
  recorded_at: Mon, 30 Sep 2019 09:41:07 GMT
recorded_with: VCR 5.0.0
