---
http_interactions:
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a1e5757c6d93434b1a7dd39a36dc8948"
    body:
      encoding: UTF-8
      string: '{"response":{"id":596492,"pro":false,"game_id":169961,"created_at":"2019-09-30T09:42:47.420Z","updated_at":"2019-09-30T09:42:47.420Z","rating":1000,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":null,"previous_rating":null}}'
  recorded_at: Mon, 30 Sep 2019 09:42:47 GMT
[...]
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/matches?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: match[player1_id]=596492&match[player2_id]=596493
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5e15add70549de1968160f19395c979a"
    body:
      encoding: UTF-8
      string: '{"response":{"id":2217755,"game_id":169961,"player1_id":596492,"player2_id":596493,"winner_id":null,"played_at":"2019-09-30T09:42:48.551Z","created_at":"2019-09-30T09:42:48.555Z","updated_at":"2019-09-30T09:42:48.555Z","scheduled_for_destruction":false,"tournament_id":null}}'
  recorded_at: Mon, 30 Sep 2019 09:42:48 GMT
recorded_with: VCR 5.0.0
