---
http_interactions:
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b6d9d4c166c49ac60ad5e1b4d3e505fc"
    body:
      encoding: UTF-8
      string: '{"response":{"id":596490,"pro":false,"game_id":169961,"created_at":"2019-09-30T09:41:12.252Z","updated_at":"2019-09-30T09:41:12.252Z","rating":1000,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":null,"previous_rating":null}}'
  recorded_at: Mon, 30 Sep 2019 09:41:12 GMT
[...]
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/matches?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":"bad_request","error_description":"The data given to this
        server does not meet our criteria."}'
  recorded_at: Mon, 30 Sep 2019 09:41:13 GMT
recorded_with: VCR 5.0.0
