---
http_interactions:
- request:
    method: get
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json&ids=568368&page=1&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"70bef9cfa55e6d20596604fc33a27811"'
    body:
      encoding: UTF-8
      string: '{"response":[{"id":568368,"pro":false,"game_id":169961,"created_at":"2019-06-28T10:25:45.014Z","updated_at":"2019-06-28T10:25:45.014Z","rating":1012,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":{"id":240922854,"rating":1012,"match_id":2173724,"player_id":568368,"created_at":"2019-08-23T14:00:16.770Z","updated_at":"2019-08-23T14:00:16.770Z","previous_rating":1000},"previous_rating":1000}],"count":1}'
  recorded_at: Mon, 30 Sep 2019 13:02:09 GMT
recorded_with: VCR 5.0.0
