---
http_interactions:
- request:
    method: get
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"04eb81f16be7c1ab7bb0079a116d3e34"'
    body:
      encoding: UTF-8
      string: '{"response":[{"id":568368,"pro":false,"game_id":169961,"created_at":"2019-06-28T10:25:45.014Z","updated_at":"2019-06-28T10:25:45.014Z","rating":1012,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":{"id":240922854,"rating":1012,"match_id":2173724,"player_id":568368,"created_at":"2019-08-23T14:00:16.770Z","updated_at":"2019-08-23T14:00:16.770Z","previous_rating":1000},"previous_rating":1000},{"id":568369,"pro":false,"game_id":169961,"created_at":"2019-06-28T10:26:18.312Z","updated_at":"2019-06-28T10:26:18.312Z","rating":987,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":{"id":240922856,"rating":987,"match_id":2173724,"player_id":568369,"created_at":"2019-08-23T14:00:16.797Z","updated_at":"2019-08-23T14:00:16.797Z","previous_rating":1000},"previous_rating":1000}],"count":2,"pagination":{"current":1,"previous":null,"next":null,"per_page":25,"pages":1,"count":2}}'
  recorded_at: Mon, 30 Sep 2019 09:28:26 GMT
recorded_with: VCR 5.0.0
