---
http_interactions:
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4dc1e59475b5cd4ed4fb93b54ddaf3ec"
    body:
      encoding: UTF-8
      string: '{"response":{"id":596503,"pro":false,"game_id":169961,"created_at":"2019-09-30T09:48:19.796Z","updated_at":"2019-09-30T09:48:19.796Z","rating":1000,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":null,"previous_rating":null}}'
  recorded_at: Mon, 30 Sep 2019 09:48:19 GMT
[...]
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/matches?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: match[player1_id]=596503&match[player2_id]=596504
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"acbd00db980d5e26d64ba97abb1c84c7"
    body:
      encoding: UTF-8
      string: '{"response":{"id":2217763,"game_id":169961,"player1_id":596503,"player2_id":596504,"winner_id":null,"played_at":"2019-09-30T09:48:20.934Z","created_at":"2019-09-30T09:48:20.938Z","updated_at":"2019-09-30T09:48:20.938Z","scheduled_for_destruction":false,"tournament_id":null}}'
  recorded_at: Mon, 30 Sep 2019 09:48:20 GMT
- request:
    method: delete
    uri: http://elo.challonge.com/1/games/169961/matches/2217763?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4479870eb4296484703258333fceea7f"
    body:
      encoding: UTF-8
      string: '{"response":{"id":2217763,"game_id":169961,"player1_id":596503,"player2_id":596504,"winner_id":null,"played_at":"2019-09-30T09:48:20.934Z","created_at":"2019-09-30T09:48:20.938Z","updated_at":"2019-09-30T09:48:21.755Z","scheduled_for_destruction":true,"tournament_id":null}}'
  recorded_at: Mon, 30 Sep 2019 09:48:22 GMT
recorded_with: VCR 5.0.0
