---
http_interactions:
- request:
    method: get
    uri: http://elo.challonge.com/1/games/176248?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"b7c8a8c86063cb39745fc64e5c81cfea"'
      Last-Modified:
      - Thu, 05 Sep 2019 12:01:39 GMT
    body:
      encoding: UTF-8
      string: '{"response":{"id":176248,"application_id":6,"default_k_factor":15,"default_rating":1000,"pro_rating_boundry":2400,"starter_boundry":30,"created_at":"2019-09-05T12:01:39.441Z","updated_at":"2019-09-05T12:01:39.441Z","scheduled_for_destruction":false}}'
  recorded_at: Mon, 30 Sep 2019 08:14:59 GMT
recorded_with: VCR 5.0.0
