---
http_interactions:
- request:
    method: get
    uri: http://elo.challonge.com/1/games/169961/matches?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"864d7eef5a2b57d121173f7c61acdced"
    body:
      encoding: UTF-8
      string: '{"response":[{"id":2173724,"game_id":169961,"player1_id":568368,"player2_id":568369,"winner_id":568368,"played_at":"2019-08-23T14:00:15.000Z","created_at":"2019-08-23T14:00:16.603Z","updated_at":"2019-08-23T14:00:16.603Z","scheduled_for_destruction":false,"tournament_id":null}],"count":1,"pagination":{"current":1,"previous":null,"next":null,"per_page":25,"pages":1,"count":1}}'
  recorded_at: Mon, 30 Sep 2019 08:54:41 GMT
recorded_with: VCR 5.0.0
