---
http_interactions:
- request:
    method: get
    uri: http://elo.challonge.com/1/games/top_players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json&game_ids%5B%5D=169961
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"34c1bd3fb1b2477fd892b8e4030539c6"'
    body:
      encoding: UTF-8
      string: '{"response":[{"game_id":169961,"top_player":{"rating":1012,"player_id":596495}}],"count":1}'
  recorded_at: Mon, 30 Sep 2019 12:44:10 GMT
recorded_with: VCR 5.0.0
