---
http_interactions:
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"806519b72d21a9d392994f904f6b7503"
    body:
      encoding: UTF-8
      string: '{"response":{"id":596484,"pro":false,"game_id":169961,"created_at":"2019-09-30T09:36:00.967Z","updated_at":"2019-09-30T09:36:00.967Z","rating":1000,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":null,"previous_rating":null}}'
  recorded_at: Mon, 30 Sep 2019 09:36:01 GMT
recorded_with: VCR 5.0.0
