---
http_interactions:
- request:
    method: post
    uri: http://elo.challonge.com/1/games/169961/players?api_key=4cdb7f00862e0133005b033abce37ff2&format=json
    body:
      encoding: UTF-8
      string: player[pro]=true
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d4f71f649818eab5cb55612c1dc324b8"
    body:
      encoding: UTF-8
      string: '{"response":{"id":596485,"pro":false,"game_id":169961,"created_at":"2019-09-30T09:37:30.082Z","updated_at":"2019-09-30T09:37:30.082Z","rating":1000,"scheduled_for_destruction":false,"starting_rating":1000,"latest_ranking":null,"previous_rating":null}}'
  recorded_at: Mon, 30 Sep 2019 09:37:30 GMT
recorded_with: VCR 5.0.0
